/*
	Theme Name: byHOZT
	Theme URL: http://hozt.com.ve/
	Description: #CustomTheme Ketembilla Creado por HOZT
	Author: Alejandro Rubio
	Author URI: http://hozt.com.ve
	Version: 2016 
*/

/*Global*/
a:hover{text-decoration: none;}


/***********Fonts***********/
.font-l{font-family: 'Roboto', sans-serif; font-weight: 300;}
.font-n{font-family: 'Roboto', sans-serif; font-weight: 400;}
.font-sb{font-family: 'Roboto', sans-serif; font-weight: 600;}
.woody{font-family: 'Quicksand', sans-serif; font-style: normal; letter-spacing: -3px; display: inline-block;}


/***********Tools***********/
.hovers{-webkit-transition-duration: 0.4s;}
.inline-b{display: inline-block;}
.block{display: block;}
.over{overflow: hidden;}
.obscure{-webkit-filter: brightness(0.2);}
/***********.bigger{
	-moz-transform: scale(1.2);
   -webkit-transform: scale(1.2);
   -o-transform: scale(1.2);
}***********/
.col-5{
	width: 20%;
	position: relative;
	float: left;
	min-height: 1px;
	padding: 7px;
}

/***********Text Colors***********/
.white{color: #fff}
.brown{color:  #994d00;}

/***********Link Colors***********/
.l-white{color: #fff; -webkit-transition-duration: 0.4s;}
.l-white:hover{color: gray; -webkit-transition-duration: 0.4s;}
.l-black{color: #333; -webkit-transition-duration: 0.4s;}
.l-black:hover{color: #994d00; -webkit-transition-duration: 0.4s;}

/***********Background colors***********/
.b-brown{background-color: #b35900;}
.b-brown-d{background-color: #804000;}
.b-lightgray{background-color: lightgray;}

/***********Paddings***********/
.pads0{padding-right: 0; padding-left: 0;}
.pleft40{padding-left:40px; }

/***********Margins***********/
.mt0{margin-top: 0;}
.mt20{margin-top: 20px;}
.mt50{margin-top: 50px;}
.mt100{margin-top: 100px;}
.mb0{margin-bottom: 0;}
.mb20{margin-bottom: 20px;}
.mb50{margin-bottom: 50px;}

/***********Heights***********/
.h200{height: 200px;}

/***********Miscellaneous***********/
.post-select{
    -moz-transform: scale(1);
   -webkit-transform: scale(1);
   -o-transform: scale(1);
    -webkit-transition-duration: 0.4s;
}

.post-select:hover{
   -moz-transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -o-transform: scale(1.1);
   -webkit-transition-duration: 0.4s;
}

.go-top {
	position: fixed;
	bottom: 0;
	padding: 0;
	right: 2em;
	text-decoration: none;
	color: white;
	background-color: #994d00;
	padding: 1em;
	display: none;
	border-top-left-radius:3px; 
	border-top-right-radius:3px;
	border: 1px solid #994d00;
	-webkit-transition-duration: 0.4s;
}

.go-top:hover {
	background-color: #fff;
	color: #994d00;	
	-webkit-transition-duration: 0.4s;
}

.b-woody{
	background: url('../imx/footy.jpg');
	background-size: 100% 100%;
}

.separator{
	border: 1px solid #ff9933;
}

/***********ID's***********/
#social > span> a {color: #fff; padding-left: 1%; padding-right: 1%;}
#social > span> a:hover{color: gray;}
#page-right{
	background-color: #994d00;
	color: white;
	margin-top: 80px;
	display: inline-block;
	padding: 10px 20px;
	position: fixed;
	right: 0;
	top: -20px;
	z-index: 999;
	border-bottom-left-radius: 5px;
	-webkit-transition-duration: 0.4s
}

#page-right:hover{
	background-color: lightgray;
	color: #994d00;
	-webkit-transition-duration: 0.4s
}

#page-left{
	background-color: #994d00;
	color: white;
	margin-top: 80px;
	display: inline-block;
	padding: 10px 20px;
	position: fixed;
	left: 0;
	top: -20px;
	z-index: 999;
	border-bottom-right-radius: 5px;
	-webkit-transition-duration: 0.4s
}

#page-left:hover{
	background-color: lightgray;
	color: #994d00;
	-webkit-transition-duration: 0.4s
}

/***********Menu Bar***********/
.menu{
	height: 60px;
	background-color: #994d00;
    position:fixed;
    top: -60px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	z-index: -1;
}
.fixed {
    position:fixed;
    top:0px;
    margin-top: 0px;
    z-index: 100;
	-webkit-transition-duration: 0.4s;
}

.static{
	position:fixed;
    top:0px;
    margin-top: 0px;
    z-index: 100;
	height: 60px;
	background-color: #994d00;
}

/***********Forms***********/
.intro-button{
	border: 1px solid #fff;
	padding: 5px 10px;
	-webkit-transition-duration: 0.4s;
}

.intro-button:hover{
	background-color: #fff;
	-webkit-transition-duration: 0.4s;
}

.intro-button >a:hover{
	color: gray;
}

.search-style{
	border: 1px solid #fff;
	color: #fff;
	padding: 5px 5px 5px 15px;
	margin-left: 0.5%;
	margin-right: 3%;
	background-color: rgba(0,0,0,0);
}

.search-style::-webkit-input-placeholder { color: #fff; } /* WebKit */
.search-style:-moz-placeholder { color: #fff; } /* Firefox 18- */
.search-style::-moz-placeholder { color: #fff; } /* Firefox 19+ */
.search-style:-ms-input-placeholder { color: #fff; } /* IE 10+ */



.text-style{
	width: 100%;
	height: 40px;
	border: 1px solid #994d00;
	border-radius: 5px;
	padding-left: 20px;
	color: #994d00;
	outline: none;
	margin-bottom: 10px;
}

.hour-style{
	width: 49.5%;
	height: 40px;
	border: 1px solid #994d00;
	border-radius: 5px;
	padding-left: 20px;
	color: #994d00;
	outline: none;
	margin-bottom: 10px;
}

.submit-style{
	width: 100%;
	height: 40px;
	background-color: #994d00;
	border-radius: 5px;
	padding-left: 20px;
	color: #fff;
	outline: none;
	margin-bottom: 10px;
	border: none;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
}

.submit-style:hover{
	background-color: #b35900;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
}
/***********Positions***********/
.pos-logo {
	position: absolute;
	top:5%;
	left:5%;
}

.pos-log{
	position: absolute;
	top:7.5%;
	right: 7.5%;
}

.pos-slogan{
	position: absolute;
	top:40%;
	left: 20%;
	width: 60% ;
}

.pos-arrow{
	position: absolute;
	bottom:5%;
	left:48%;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
}

.pos-arrow:hover{
	bottom: 1%;
	-webkit-transition-duration: 0.4s;
	color:#994d00;
}


/***********Borders***********/
.bord-bot{
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

/***********Slider***********/


/************************************* MEDIA QUERIES ******************************************/

@media (min-width: 1200px) {

}

@media (max-width: 1200px) {

}/*1200*/


@media (max-width: 992px) { 

}/*992*/


@media (max-width: 768px){ /*XS*/
	
}/*768*/


@media (max-width: 600px){ /*XXS*/

}

@media (max-width: 500px){ /* SUPER XS*/

}

@media (max-width: 400px){ /* MAXIMUM XS*/
	
}

@media (max-width: 350px){ /*HIPER MAXIMUM XS*/
	
}


